@model GigHub.ViewModels.GigDetailViewModel


<h2 class="display-inline">
    @Model.Gig.Artist.Name

    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-info js-toggle-following">Following</button>
        }
        else
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-default js-toggle-following">Follow</button>
        }
    }

</h2>
@*@if (Model.ShowAction)
    {
        <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-default js-toggle-follow">Follow</button>
    }*@
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>
@if (User.Identity.IsAuthenticated && !Model.Gig.IsCanceled && Model.IsAttending)
{
    <p>You are going to this event. </p>
}


@section scripts
{
    <script>
        $(document).ready(function () {

            GigDetailsController.init();

            //$(".js-toggle-following").click(function (e) {
            //    var button = $(e.target);

            //    if (button.hasClass("btn-default")) {
            //        //follow
            //        $.post("/api/followings", { followeeId: button.attr("data-artist-id") })
            //            .done(function () {
            //                button.removeClass("btn-default")
            //                    .addClass("btn-info")
            //                    .text("Following");
            //            })
            //            .fail(function () {
            //                alert("Something failed in following!");
            //            });
            //    }
            //    else {
            //        //unFollow
            //        $.ajax({
            //            url: "/api/followings/" + button.attr("data-artist-id"),
            //            method: "DELETE"
            //        })
            //            .done(function () {
            //                button.removeClass("btn-info")
            //                    .addClass("btn-default")
            //                    .text("Follow");
            //            })
            //            .fail(function () {
            //                alert("Something failed in following!");
            //            });
            //    }

            //});
        });
        
    </script>
}

@*@section scripts
        {
        <script>
            $(document).ready(function () {

                var isFollowing = "@Html.Raw(Model.IsFollowing)".toLowerCase();
                if (isFollowing == "true") {
                    $(".js-toggle-follow").text("Following").removeClass("btn-default").addClass("btn-info");
                }

                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-artist-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed in following!");
                        });
                });



            });
        </script>
    }*@